:root {
    --normal-text-color: #ffffffcc;
    --highlighted-text-color: #ffffff;
    --highlighted-text-shaddow: 0 0 30px #000000;
    --footer-text-color: #c0c0c0;
    --footer-background: linear-gradient(to bottom, #0c0c0c, #000000), url(/patterns/simple/grey.png);

    /* !!! Cleanup */
    --palette-0: #554499;
    --palette-0-red: 85;
    --palette-0-green: 68;
    --palette-0-blue: 153;
    --palette-0-triplet: 85, 68, 153;
    --palette-1: #ffffff;
    --palette-1-red: 255;
    --palette-1-green: 255;
    --palette-1-blue: 255;
    --palette-1-triplet: 255, 255, 255;
    --palette-2: #554499;
    --palette-2-red: 85;
    --palette-2-green: 68;
    --palette-2-blue: 153;
    --palette-2-triplet: 85, 68, 153;
    --palette-3: #ffffff;
    --palette-3-red: 255;
    --palette-3-green: 255;
    --palette-3-blue: 255;
    --palette-3-triplet: 255, 255, 255;
    --palette-4: #554499;
    --palette-4-red: 85;
    --palette-4-green: 68;
    --palette-4-blue: 153;
    --palette-4-triplet: 85, 68, 153;
    --palette-5: #ffffff;
    --palette-5-red: 255;
    --palette-5-green: 255;
    --palette-5-blue: 255;
    --palette-5-triplet: 255, 255, 255;
    --palette-6: #554499;
    --palette-6-red: 85;
    --palette-6-green: 68;
    --palette-6-blue: 153;
    --palette-6-triplet: 85, 68, 153;
    --palette-7: #ffffff;
    --palette-7-red: 255;
    --palette-7-green: 255;
    --palette-7-blue: 255;
    --palette-7-triplet: 255, 255, 255;
}