.Project {
    /*/
    outline: 1px dotted rgb(243, 223, 42);
    /**/
}

.Project .projectImageContainer {
    /*/
    outline: 1px dotted rgb(42, 243, 119);
    /**/

    aspect-ratio: 2/1;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
}

/* TODO: Make here same paralax effect */

.Project .projectImageContainer img {
    /*/
    outline: 1px dotted rgb(100, 100, 100);
    /**/

    object-fit: contain;
    width: 100%;
    max-height: 70%;
}

.Projects {
    /*/
    outline: 1px dotted rgb(243, 42, 183);
    /**/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    row-gap: 40px;
    margin-bottom: 30px;
}

.Projects.row-with-2-items > * {
    width: 50%;
}

.Projects.row-with-3-items > * {
    width: 33.333%;
}

.Projects > a {
    color: inherit;
    text-decoration: inherit;
}

@media only screen and (max-width: 650px) {
    .Projects.row-with-2-items > *,
    .Projects.row-with-3-items > * {
        width: 100%;
    }
}
